.paragraph {
  padding: 94px 0px 94px 0px;
  background-color: getColor("accentlight");
  margin: 0 auto;

  .paragraph-list {
    display: flex;
    padding-bottom: 94px;
    justify-content: space-around;
    background-color: getColor("accentlight");
    list-style: none;
    margin-top: 0;
    margin-bottom: 30px;
    padding: 0;
    gap: 40px;

    &__item {
      width: 270px;
      height: 120px;
      border: 1px solid getColor("auxiliary");
      border-radius: 4px;
      padding-left: 100px;
      padding-top: 25px;
      background: getColor("auxiliary");
      &:hover,
      &:focus {
        border: 1px solid getColor("accent");
      }
    }

    &__icon {
      &:hover,
      &:focus {
        fill: getColor("accent");
      }
    }
  }

  .paragraph-description {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    gap: 40px;
  }

  &__title {
    font-weight: 700;
    font-size: $fontSizeXS;
    line-height: 1, 14;
    color: getColor("elementary");
    text-transform: uppercase;
    background-color: getColor("accentlight");
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  &__content {
    line-height: 1.71;
    padding-top: 10px;
    font-size: 14px;
    color: getColor("secondary");
    width: 270px;
    font-weight: 400;
    letter-spacing: 0.03em;
    background-color: getColor("accentlight");
  }
}
